@font-face {
    font-family: 'Roboto', sans-serif;
    src: local('Roboto'), url('../../fonts/Roboto-Regular.ttf');
    
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: local('Roboto'), url('../../fonts/Roboto-Medium.ttf');
    
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: local('Roboto'), url('../../fonts/Roboto-Bold.ttf');
    
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}