.gallery-section {
  padding-top: 16px;
}
.catalog-failure {
  display: none;
}

@media screen and (min-width: 768px) {
  .gallery-section {
    padding-top: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery-section {
    padding-top: 48px;
  }
}