.gallery-section {
  padding-top: 16px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}

.movie-card {
  width: 280px;
  height: 406px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
  border-radius: 5px;
}

.movie-card__img {
}

.catalog-failure {
  display: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
  text-align: center;
}

.failure-event {
  padding-top: 48px;
}

@media screen and (min-width: 768px) {
  .gallery-section {
    padding-top: 36px;
  }
  .gallery-container {
    row-gap: 28px;
    column-gap: 16px;
  }
  .movie-card {
    width: 224px;
    height: 325px;
  }
  .catalog-failure {
    font-size: 24px;
    line-height: 1.3;
  }
  .failure-event {
    padding-top: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery-section {
    padding-top: 48px;
  }
  .gallery-container {
    row-gap: 32px;
    column-gap: 15px;
  }
  .movie-card {
    width: 395px;
    height: 574px;
  }
  .catalog-failure {
    font-size: 32px;
    line-height: 1.1;
  }
  .failure-event {
    padding-top: 120px;
  }
}
