/* @charset 'utf-8'; */
.tui-pagination * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tui-ico-ellipsis,
.tui-ico-first,
.tui-ico-last,
.tui-ico-next,
.tui-ico-prev {
    overflow: hidden;
}

.tui-pagination {
    height: 40px;
    margin: 14px 0 12px;
    line-height: normal;
    text-align: center;
    font-size: 0;
}

.tui-pagination .tui-page-btn {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 13px 0 6px;
    margin: 0 8px;
    color: #B7B7B7;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid #B7B7B7;
    border-radius: 50%;
    background-color: transparent;
}

.tui-pagination .tui-page-btn:hover {
    background-color: #f4f4f4;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
    color: #fff;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    border: none;
    cursor: default;
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
    overflow: hidden;
    height: 28px;
    width: 28px;
    padding: 0;
    line-height: 26px;
    white-space: nowrap;
    font-weight: normal;
    border: none;

}

.tui-pagination .tui-next {
    background-image: url('../../../images/chevron-forward-r.svg');
}

.tui-pagination .tui-prev {
    background-image: url('../../../images/chevron-forward-l.svg');
}

.tui-pagination .tui-next:hover {
    background-image: url('../../../images/chevron-or-r.svg');
    background-color: inherit;
}

.tui-pagination .tui-prev:hover {
    background-image: url('../../../images/chevron-or-l.svg');
    background-color: inherit;
}

.tui-pagination .tui-prev-is-ellip:hover,
.tui-pagination .tui-next-is-ellip:hover {
    color: var(--accent-color);
    background-color: inherit;
}

.tui-pagination .tui-prev {
    margin-right: 4px;
}

.tui-pagination .tui-next {
    margin-left: 4px;
}

/* ______________ */
.tui-pagination .tui-is-disabled:hover {
    cursor: default;
}

/* change into svg */
/* ________________ */
.tui-pagination .tui-first,
.tui-pagination .tui-last {
    display: none;
}