.rating {
  display: flex;
}
.star {
  width: 14px;
  height: 14px;
}
.hero > .star {
  width: 14px;
  height: 14px;
}
.star:not(:last-child) {
  margin-right: 4px;
}

@media screen and (min-width: 768px) {
  .star {
    width: 10px;
    height: 10px;
  }
  .hero > .star {
    width: 14px;
    height: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .star {
    width: 18px;
    height: 18px;
  }
  .hero > .star {
    width: 14px;
    height: 14px;
  }
}
