.footer {
  padding-top: 40px;
  padding-bottom: 28px;

  text-align: center;
  color: var(--light-grey-color);
  background: inherit;
}
.footer__description {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__icon {
  margin-left: 10px;
  margin-right: 10px;

  fill: var(--accent-color);
  animation: animHeart 2s ease infinite normal forwards;
}
.footer__btn {
  position: relative;
  margin-left: 3px;
  padding: 0;

  border-style: none;
  color: var(--light-grey-color);
  background-color: transparent;
}

.footer__btn::after,
.footer__btn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;

  transition: transform var(--transition-dur-and-fun);
}
.footer__btn::before {
  background-color: var(--accent-color);

  transform-origin: left;
  transform: scaleX(0);
  transition-delay: 0s;
}
.footer__btn::after {
  background-color: var(--light-grey-color);

  transform-origin: right;
  transform: scaleX(1);
  transition-delay: 0.25s;
}

.footer__btn:hover::before,
.footer__btn:focus::before {
  transform: scaleX(1);
  transition-delay: 0.25s;
}
.footer__btn:hover::after,
.footer__btn:focus::after {
  transform: scaleX(0);
  transition-delay: 0s;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 40px;

    font-size: 16px;
    line-height: 1.2;
  }
  .footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__description:not(:last-child) {
    margin-right: 3px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
@keyframes animHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
