.header {
  background-color: inherit;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__img {
  width: 32px;
  height: 32px;
}
.mob-menu-btn {
  padding-top: 16px;
  padding-bottom: 16px;

  border-style: none;
  font-family: 'Roboto';
  text-transform: uppercase;
  background-color: transparent;
  color: var(--light-grey-color);
}
.theme.btn {
  position: relative;
  padding: 4px 3px;
  min-width: 44px;
  max-height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.theme__icon {
  width: 10px;
  height: 10px;

  stroke: var(--lightest-color);
  fill: none;
}
.theme__switch {
  width: 14px;
  height: 14px;
  top: 50%;
  right: 0;
  position: absolute;

  transform: translate(-20%, -50%) rotate(0);
}
.site-nav {
  display: flex;
}
.site-nav__item:not(:last-child) {
  margin-right: 32px;
}
.site-nav__link {
  text-transform: uppercase;
  color: var(--light-grey-color);

  transition: color var(--transition-dur-and-fun);
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}
.js-nav-link.active-page {
  color: var(--accent-color);
}
.logo__wrapper {
  display: flex;
  align-items: center;
  color: var(--lightest-color);
}
.logo__name {
  display: none;
  position: relative;
  margin-left: 8px;

  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  overflow: hidden;
}
.logo__name::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  transform-origin: right;
  transform: scaleX(0);

  background-color: var(--accent-color);

  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.2);

  opacity: 0;
  overflow: hidden;
  pointer-events: none;

  transition: background-color var(--transition-dur-and-fun) 0.1s,
    opacity 150ms cubic-bezier(0, 0, 0.58, 1) 0.3s;
}

.mobile-backdrop.is-open {
  opacity: 1;
  overflow: auto;
  pointer-events: visible;
}
.mobile-nav {
  width: 65%;
  height: 100vh;
  padding-top: 8px;
  padding-left: 20px;
  background-color: var(--dark-color);
  border-radius: 0px 8px 8px 0px;

  transform: translateY(-100%);

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
}
.mobile-backdrop.is-open .mobile-nav {
  transform: translateY(0);
}
.mobile__logo {
  display: inline-flex;
  margin-bottom: 40px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu__link {
  color: var(--lightest-color);
}

@keyframes animSwitchLight {
  0% {
    transform: translate(-15%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-200%, -50%) rotate(-180deg);
  }
}
@keyframes animSwitchDark {
  0% {
    transform: translate(-190%, -50%) rotate(-180deg);
  }
  100% {
    transform: translate(-15%, -50%) rotate(0deg);
  }
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .logo__img {
    width: 48px;
    height: 48px;
  }
  .logo__name {
    display: block;
  }
  .mob-menu-btn {
    display: none;
  }
  .theme.btn {
    min-width: 60px;
    min-height: 24px;
    padding: 5px 4px;
  }
  .theme__icon {
    width: 13px;
    height: 13px;
  }
  .theme__switch {
    width: 18px;
    height: 18px;
  }
  .mobile-backdrop {
    display: none;
  }
  @keyframes animSwitchLight {
    0% {
      transform: translate(-20%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-215%, -50%) rotate(-180deg);
    }
  }
  @keyframes animSwitchDark {
    0% {
      transform: translate(-200%, -50%) rotate(-180deg);
    }
    100% {
      transform: translate(-20%, -50%) rotate(0deg);
    }
  }
}
@media screen and (min-width: 1280px) {
  .site-nav__item:not(:last-child) {
    margin-right: 40px;
  }
  .logo__wrapper:hover .logo__name::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}
.switchLight {
  animation: animSwitchLight 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 1 forwards;
}
.switchDark {
  animation: animSwitchDark 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 1 forwards;
}
