.hero{
  margin: 0 auto;
  background-color: var(--dark-color);
}
.film-of-day,
.get-started-section {
  width: 100%;
  height: 380px;
  position: relative;
  overflow: hidden;
}
.hero__img {
  position: absolute;
  top: 0;
  right: -90px;
}
.film-of-day .hero__img,
.get-started-section .hero__img{
    right: -90px;
  }

.hero__img-gradient{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(86.47deg, #111111 33.63%, rgba(17, 17, 17, 0) 76.86%);
}
.hero__info{
  position: absolute;
  padding-top: 40px;
 
  padding-right: 20px;
  padding-left: 20px;
}
.get-started-section .hero__info{
  width: 200px; 
  padding-bottom: 80px; 
}
.hero__title {
  color: var(--lightest-color);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  text-transform: none;
  margin-bottom: 8px;
}
.hero__text{
  color: var(--light-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.hero__text span{
  display: none;
}

.film-of-day .hero__info {
  width: 100%;
  padding-bottom: 40px;
}
.film-of-day .hero__title{
  margin-bottom: 13px;
  padding-right: 68px;
}
.film-of-day .hero__stars{
  margin-bottom: 21px;
}
.film-of-day .hero__text {
  margin-bottom: 20px;
  width: 178px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.watch-trailer{
  margin-right: 8px;
}
@media screen and (min-width: 320px) {
  .hero {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
  .film-of-day,
  .get-started-section {
    height: 372px;
  }
  .film-of-day .hero__img,
  .get-started-section .hero__img{
    right: -160px;
  }
  .hero__info{
    padding-left: 32px;
    
  }
  .get-started-section .hero__info{
    padding-top: 62px;
    padding-bottom: 62px;
    width: 405px;
  }
  .film-of-day .hero__info{
    padding-top: 36px;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.18;
  }
  .hero__text {
    margin-bottom: 32px;
    display: inline-block;
  }
.film-of-day .hero__text {
  width: 254px;
}

  .hero__text span{
  display: block;
}
}

@media screen and (min-width: 1280px) {
  .hero {
    max-width: 1280px;
  }
  .film-of-day,
  .get-started-section {
    height: 660px;
  }
  .film-of-day .hero__img,
  .get-started-section .hero__img{
    right: -240px;
  }

  .get-started-section .hero__info{
    padding-top: 169px;
    width: 510px;
  }
  .film-of-day .hero__info{
    padding-top: 118px;
    padding-left: 135px;
    padding-right: 475px;
  }
.hero__title {
    font-size: 64px;
    margin-bottom: 16px;
  }
  .hero__text {
    font-size: 16px;
    line-height: 1.2;
    padding-right: 8px;
  }
  .film-of-day .hero__text{
    margin-bottom: 48px;
  }
  .hero__text span{
    display: inline-block;
  }
  .film-of-day .hero__stars{
  margin-bottom: 30px;
}
}

