@import url('../components/container.css');
@import url('../base/fonts.css');
@import '~node_modules/modern-normalize/modern-normalize.css';

/* Герой */

@media screen and (min-width: 320px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 320px) {
  .film-of-day {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    background-color: var(--dark-color);
    z-index: 1;
  }
}

/* Градиент */

@media screen and (min-width: 320px) {
  .hero__img-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(87.41deg,
        #111111 33.93%,
        rgba(17, 17, 17, 0) 78.91%);
  }
}

@media screen and (min-width: 768px) {
  .hero__img-gradient {
    left: 200px;
    height: 432px;
    width: 768px;

    background: linear-gradient(81.57deg,
        #111111 12.76%,
        rgba(17, 17, 17, 0) 72.65%);
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-gradient {
    left: 339px;
    height: 720px;
    background: linear-gradient(83.06deg,
        #111111 11.91%,
        rgba(17, 17, 17, 0) 73.11%);
  }
}

/* Картинка */

@media screen and (min-width: 320px) {
  .hero__img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    z-index: -2;
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .hero__img {
    left: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img {
    left: 340px;
  }
}

/* Заголовок контейнер */

@media screen and (min-width: 320px) {
  .hero__title-box {
    width: 300px;
    padding-top: 40px;
    margin-right: auto;
    margin-left: 20;
  }
}

@media screen and (min-width: 768px) {
  .hero__title-box {
    width: 700px;
    padding-top: 36px;
    margin-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title-box {
    width: 800px;
    padding-top: 118px;
    margin-left: 135px;
  }
}

/* Заголовок текст */

@media screen and (min-width: 320px) {
  .hero__title {
    color: var(--lightest-color);
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    text-transform: none;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 64px;
    line-height: 1.17;
  }
}

/* Рейтинг контейнер */

@media screen and (min-width: 320px) {
  .rating-box {
    margin-top: 12px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .rating-box {
    margin-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .rating-box {
    margin-top: 16px;
    margin-left: 135px;
  }
}

/* Описание контейнер */

@media screen and (min-width: 320px) {
  .hero__text-box {
    width: 177px;
    height: 69px;
    margin-top: 16px;
    margin-left: 20;
    margin-right: auto;
    overflow: hidden;
  }

  @media screen and (min-width: 768px) {
    .hero__text-box {
      width: 295px;
      height: 64px;
      margin-top: 20px;
      margin-left: 32px;
    }
  }

  @media screen and (min-width: 1280px) {
    .hero__text-box {
      width: 367px;
      margin-top: 28px;
      margin-left: 135px;
    }
  }

  .hero__text-box:hover {
    overflow: auto;
  }
}

/* Описание текст */

@media screen and (min-width: 320px) {
  .hero__text {
    color: var(--light-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .hero__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
  }
}

/* Кнопки */

@media screen and (min-width: 320px) {
  .buttons {
    display: flex;
    margin-top: 20px;
    margin-left: 20;
    padding-bottom: 54px;
  }
}

@media screen and (min-width: 768px) {
  .buttons {
    margin-top: 28px;
    padding-bottom: 62px;
    margin-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .buttons {
    margin-top: 36px;
    padding-bottom: 169px;
    margin-left: 135px;
  }
}

@media screen and (min-width: 320px) {
  .watch-trailer {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .watch-trailer {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .watch-trailer {
    margin-right: 14px;
  }
}

/* Заглушка */

/* Градиент */

@media screen and (min-width: 320px) {
  .hero__img-gradient-gs {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 380px;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(87.41deg,
        #111111 33.93%,
        rgba(17, 17, 17, 0) 78.91%);
  }
}

@media screen and (min-width: 768px) {
  .hero__img-gradient-gs {
    left: 200px;
    width: 768px;
    height: 432px;
    background: linear-gradient(81.57deg,
        #111111 12.76%,
        rgba(17, 17, 17, 0) 72.65%);
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-gradient-gs {
    left: 340px;
    height: 720px;
    background: linear-gradient(83.06deg,
        #111111 11.91%,
        rgba(17, 17, 17, 0) 73.11%);
  }
}

/* Картинка */

@media screen and (min-width: 320px) {
  .hero__img-gs {
    width: 100%;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    z-index: -2;
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .hero__img-gs {
    width: 100%;
    height: 432px;
    left: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-gs {
    width: 100%;
    height: 720px;
    left: 340px;
  }
}

/* Заголовок контейнер */

@media screen and (min-width: 320px) {
  .hero__title-box-gs {
    width: 300px;
    padding-top: 40px;
    margin-left: 0;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .hero__title-box-gs {
    width: 700px;
    padding-top: 62px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title-box-gs {
    width: 800px;
    padding-top: 169px;
  }
}

/* Описание контейнер */

@media screen and (min-width: 320px) {
  .hero__text-box-gs {
    width: 166px;
    height: 80px;
    margin-top: 8px;
    margin-left: 0;
    margin-right: auto;
    overflow: hidden;
  }

  @media screen and (min-width: 768px) {
    .hero__text-box-gs {
      width: 357px;
      height: 64px;
      margin-top: 8px;
    }
  }

  @media screen and (min-width: 1280px) {
    .hero__text-box-gs {
      width: 464px;
      margin-top: 16px;
    }
  }

  .hero__text-box-gs:hover {
    overflow: auto;
  }
}

/* Кнопки */

@media screen and (min-width: 320px) {
  .get-started-btn {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .get-started-btn {
    margin-top: 32px;
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 1280px) {
  .get-started-btn {
    margin-top: 32px;
    margin-bottom: 169px;
  }
}

/* Экран заглушка */

@media screen and (min-width: 320px) {
  .get-started-section {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    background-color: var(--dark-color);
    z-index: 1;
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .get-started-section {
    height: 432px;
  }
}

@media screen and (min-width: 1280px) {
  .get-started-section {
    height: 720px;
  }
}

.watch-modal__iframe {
  margin: 0;
  padding: 0;
}

.watch-modal__content {
  border-radius: 20px;
}

@media screen and (min-width: 320px) {
  .watch-modal__error-message {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    display: block;
  }
}

@media screen and (min-width: 762px) {
  .watch-modal__error-message {
    display: block;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
  }
}

.watch-modal__error-image {
  background-image: url(/src/images/watch-trailer-modal_desk_1x.png);
  text-align: left;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .watch-modal__error-image {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: auto;
  }
}