@import url('../components/container.css');
@import url('../base/fonts.css');
@import '~node_modules/modern-normalize/modern-normalize.css';

/* Герой светлая тема*/

body.light .hero {
  position: relative;
  z-index: 0;
}

body.light .hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-color);
  z-index: -3;
}

/* Герой */

@media screen and (min-width: 320px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    width: 100%;
    height: 380px;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    /* width: 768px; */
    height: 432px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    /* width: 1280px; */
    height: 720px;
  }
}

@media screen and (min-width: 320px) {
  .film-of-day {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
  }
}

/* @media screen and (min-width: 768px) {
  .film-of-day {
    width: 768px;
    height: 432px;
  }
} */

/* @media screen and (min-width: 1280px) {
  .film-of-day {
    width: 1280px;
    height: 720px;
  }
} */

/* Градиент */

@media screen and (min-width: 320px) {
  .hero__img-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 380px;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(
      87.41deg,
      #111111 33.93%,
      rgba(17, 17, 17, 0) 78.91%
    );
  }
}

@media screen and (min-width: 768px) {
  .hero__img-gradient {
    left: 200px;
    height: 432px;
    width: 768px;

    background: linear-gradient(
      81.57deg,
      #111111 12.76%,
      rgba(17, 17, 17, 0) 72.65%
    );
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-gradient {
    left: 339px;
    height: 720px;
    background: linear-gradient(
      83.06deg,
      #111111 11.91%,
      rgba(17, 17, 17, 0) 73.11%
    );
  }
}

/* Картинка */

@media screen and (min-width: 320px) {
  .hero__img {
    width: 100%;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    z-index: -2;
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .hero__img {
    width: 100%;
    height: 432px;
    left: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img {
    width: 100%;
    height: 720px;
    left: 340px;
  }
}

/* Заголовок контейнер */

@media screen and (min-width: 320px) {
  .hero__title-box {
    width: 280px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .hero__title-box {
    width: 400px;
    margin-top: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title-box {
    width: 500px;
    margin-top: 118px;
  }
}

/* Заголовок текст */

@media screen and (min-width: 320px) {
  .hero__title {
    color: var(--lightest-color);
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    text-transform: none;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 64px;
    line-height: 1.17;
  }
}

/* Рейтинг контейнер */

@media screen and (min-width: 320px) {
  .rating-box {
    margin-left: 0;

    margin-top: 12px;
  }
}

/* @media screen and (min-width: 768px) {
  .rating-box {
  }
}

@media screen and (min-width: 1280px) {
  .rating-box {
    margin-top: 16px;
  }
} */

/* Описание контейнер */

@media screen and (min-width: 320px) {
  .hero__text-box {
    width: 177px;
    height: 69px;
    margin-top: 16px;
    margin-left: 0;
    margin-right: auto;
    overflow: hidden;
  }

  @media screen and (min-width: 768px) {
    .hero__text-box {
      width: 295px;
      height: 64px;
      margin-top: 20px;
    }
  }

  @media screen and (min-width: 1280px) {
    .hero__text-box {
      width: 367px;
      margin-top: 28px;
    }
  }

  .hero__text-box:hover {
    overflow: auto;
  }
}

/* Описание текст */

@media screen and (min-width: 320px) {
  .hero__text {
    color: var(--light-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .hero__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
  }
}

/* Кнопки */

@media screen and (min-width: 320px) {
  .buttons {
    display: flex;
    margin-top: 20px;
    margin-left: 0;
  }
}

@media screen and (min-width: 762px) {
  .buttons {
    margin-top: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .buttons {
    margin-top: 36px;
  }
}

@media screen and (min-width: 320px) {
  .watch-trailer {
    margin-right: 8px;
  }
}

@media screen and (min-width: 762px) {
  .watch-trailer {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .watch-trailer {
    margin-right: 14px;
  }
}

/* Заглушка */

/* Градиент */

@media screen and (min-width: 320px) {
  .hero__img-gradient-gs {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 380px;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(
      87.41deg,
      #111111 33.93%,
      rgba(17, 17, 17, 0) 78.91%
    );
  }
}

@media screen and (min-width: 768px) {
  .hero__img-gradient-gs {
    left: 200px;
    width: 768px;
    height: 432px;
    background: linear-gradient(
      81.57deg,
      #111111 12.76%,
      rgba(17, 17, 17, 0) 72.65%
    );
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-gradient-gs {
    left: 340px;
    height: 720px;
    background: linear-gradient(
      83.06deg,
      #111111 11.91%,
      rgba(17, 17, 17, 0) 73.11%
    );
  }
}

/* Картинка */

@media screen and (min-width: 320px) {
  .hero__img-gs {
    width: 100%;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    z-index: -2;
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .hero__img-gs {
    width: 100%;
    height: 432px;
    left: 200px;
    background-image: url('../../images/hero_tab_1x.jpg');
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-gs {
    width: 100%;
    height: 720px;
    left: 340px;
    background-image: url('../../images/hero_desk_1x.jpg');
  }
}

/* Заголовок контейнер */

@media screen and (min-width: 320px) {
  .hero__title-box-gs {
    width: 200px;
    margin-top: 40px;
    margin-left: 0;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .hero__title-box-gs {
    width: 332px;
    margin-top: 62px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title-box-gs {
    width: 500px;
    margin-top: 169px;
  }
}

/* Описание контейнер */

@media screen and (min-width: 320px) {
  .hero__text-box-gs {
    width: 166px;
    height: 80px;
    margin-top: 8px;
    margin-left: 0;
    margin-right: auto;
    overflow: hidden;
  }

  @media screen and (min-width: 768px) {
    .hero__text-box-gs {
      width: 357px;
      height: 64px;
      margin-top: 8px;
    }
  }

  @media screen and (min-width: 1280px) {
    .hero__text-box-gs {
      width: 464px;
      margin-top: 16px;
    }
  }

  .hero__text-box-gs:hover {
    overflow: auto;
  }
}

/* Кнопки */

@media screen and (min-width: 320px) {
  .get-started-btn {
    margin-left: 20px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 762px) {
  .get-started-btn {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .get-started-btn {
    margin-top: 32px;
  }
}
/* Экран заглушка */

@media screen and (min-width: 320px) {
  .get-started-section {
    display: none;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
  }
}

@media screen and (min-width: 762px) {
  .get-started-section {
    height: 432px;
  }
}

@media screen and (min-width: 1280px) {
  .get-started-section {
    height: 720px;
  }
}
