<section class="catalog-search-section">
  <h2 class="visually-hidden">Catalog</h2>
  <div class="container">
    <form class="search-form" id="search-form">
      <div class="search-container">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search"
          class="search search-field"
          autofocus
        />
        <div class="reset-container">
          <svg class="reset-icon">
            <use href="./images/sprite.svg#icon-close-outline"></use>
          </svg>
          <button type="reset" class="reset-search"></button>
        </div>
      </div>
      <select id="year" name="year" class="search select-drop-down"></select>
      <button type="submit" class="btn btn-accent btn-round">
        <span class="submit-btn btn-in">
          <svg class="search-icon">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </span>
      </button>
    </form>
  </div>
</section>
