<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="logo">
        <a href="/" class="logo__wrapper">
          <img
            src="./images/logo.svg"
            alt="logo"
            width="32"
            class="logo__img"
          />
          <span class="logo__name">Cinemania</span>
        </a>
      </div>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a href="./index.html" class="site-nav__link">HOME</a>
        </li>
        <li class="site-nav__item">
          <a href="./catalog.html" class="site-nav__link">CATALOG</a>
        </li>
        <li class="site-nav__item">
          <a href="./library.html" class="site-nav__link">MY LIBRARY</a>
        </li>
      </ul>
      <button class="mob-menu-btn">MENU</button>
      <button class="theme btn">
        <svg class="theme__icon" width="10" height="10">
          <use href="./images/sprite.svg#icon-moon"></use>
        </svg>
        <svg class="theme__icon" width="10" height="10">
          <use href="./images/sprite.svg#icon-sun"></use>
        </svg>
        <img
          src="./images/switch.svg"
          alt="switcher"
          width="14"
          class="theme__switch"
        />
      </button>
    </nav>
  </div>
</header>
