<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <div class="logo">
        <a href="" class="logo link">
          <img src="./images/logo.svg" alt="logo image" width="30" height="24" />
          <span class="logo__name">Cinemania</span></a>
      </div>
      <ul class="site-nav list">
        <li class="site-nav__item">
          <a href="./index.html" class="site-nav__link js-nav-link link"
            >HOME</a>
        </li>
        <li class="site-nav__item">
          <a href="./catalog.html" class="site-nav__link js-nav-link link"
            >CATALOG</a>
        </li>
        <li class="site-nav__item">
          <a href="./library.html" class="site-nav__link js-nav-link link">MY LIBRARY</a>
        </li>
      </ul>
      
    </nav>
  </div>
</header>
<div class="mobile-backdrop">
  <nav class="mobile-nav">
    <div class="logo mobile__logo">
      <img src="./images/logo.svg" alt="" width="30" height="24" />
    </div>
    <ul class="mobile-menu list">
      <li class="mobile-menu__item">
        <a href="./index.html" class="mobile-menu__link js-nav-link link"
          >HOME</a
        >
      </li>
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link js-nav-link link">CATALOG</a>
      </li>
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link js-nav-link link">MY LIBRARY</a>
      </li>
    </ul>
  </nav>
</div>