<section class="hero">
    <div class="container">
        <h1 class="visually-hidden">Movie of day</h1>
        <span class="loader"></span>
    
            <div class="get-started-section">
                <div class="hero__img-gradient-gs"></div>
                <img class="hero__img-gs" loading="lazy" width="1280" height="720" src="images/hero_mob_2x.jpg"
                    sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 320px) 320px"
                    alt="7 people go to the fire pit">
                <div class="hero__title-box-gs container">
                    <h2 class="hero__title">Let’s Make Your Own Cinema</h2>
                </div>
                <div class="hero__text-box-gs container">
                    <p class="hero__text">Is a guide to creating a personalized movie theater experience. You'll need a projector,
                        screen, and speakers. Decorate your space, choose your films, and stock up on snacks for the full
                        experience.
                    </p>
                </div>
                <button class="get-started-btn btn btn-accent container" type="button" data-id="">
                    <span class="btn-in">Get Started</span></button>
            </div>
    <div class="film-of-day"></div>
    </div>
</section>