<div class="team-modal">

  <div class="container team-container">
      <button class="modal-close-btn team-close-btn" type="button">
    <svg width="24px" height="24px" class="modal-close-icon">
      <use href="/src/images/sprite.svg#icon-close-outline"></use>
    </svg>
  </button>
    <h2 class="team-title">development team</h2>
    <ul class="list team-list">
      <li class="team-player">
        <a href="#" target="_blank" class="link team-link">
          <img class="team-photo" src="/src/images/coming_soon.jpg" alt="" />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name"></p>
              <p class="team-card-info-position">Team Lead</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" target="_blank" class="link team-link">
          <img class="team-photo" src="/src/images/coming_soon.jpg" alt="" />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name"></p>
              <p class="team-card-info-position">Scrum Master</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="https://www.linkedin.com/in/vprotasova/" target="_blank" class="link team-link">
          <img class="team-photo" src="/src/images/coming_soon.jpg" alt="" />
          <div class="team-card-backdrop">
          <div class="team-card-info">
              <p class="team-card-info-name">Viktoriia Protasova</p>
              <p class="team-card-info-position">Developer</p>
          </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="https://www.linkedin.com/in/oleksandra-bihas-368627242/" target="_blank" class="link team-link">
          <img class="team-photo" src="/src/images/coming_soon.jpg" alt="" />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name">Oleksandra Bihas</p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" target="_blank" class="link team-link">
          <img class="team-photo" src="/src/images/coming_soon.jpg" alt="" />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name"></p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" target="_blank" class="link team-link">
          <img class="team-photo" src="/src/images/coming_soon.jpg" alt="" />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name"></p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" target="_blank" class="link team-link">
          <img class="team-photo" src="/src/images/coming_soon.jpg" alt="" />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name"></p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" target="_blank" class="link team-link">
          <img class="team-photo" src="/src/images/coming_soon.jpg" alt="" />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name"></p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" target="_blank" class="link team-link">
          <img class="team-photo" src="/src/images/coming_soon.jpg" alt="" />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name"></p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" target="_blank" class="link team-link">
          <img class="team-photo" src="/src/images/coming_soon.jpg" alt="" />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name"></p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" target="_blank" class="link team-link">
          <img class="team-photo" src="/src/images/coming_soon.jpg" alt="" />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name"></p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="backdrop-team"></div>
