<div class="team-modal">
  <div class="container">
    <h2 class="team-title">development team</h2>
    <ul class="list team-list">
      <li class="team-player">
        <a href="#" class="link team-link">
          <img src="" alt="" />
          <div class="team-card-backdrop">
            <div>
              <p class="team-card-info"></p>
              <p class="team-card-info"></p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" class="link team-link">
          <img src="" alt="" />
          <div class="team-card-backdrop">
            <div>
              <p class="team-card-info"></p>
              <p class="team-card-info"></p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" class="link team-link">
          <img src="" alt="" />
          <div class="team-card-backdrop">
            <div>
              <p class="team-card-info"></p>
              <p class="team-card-info"></p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" class="link team-link">
          <img src="" alt="" />
          <div class="team-card-backdrop">
            <div>
              <p class="team-card-info"></p>
              <p class="team-card-info"></p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" class="link team-link">
          <img src="" alt="" />
          <div class="team-card-backdrop">
            <div>
              <p class="team-card-info"></p>
              <p class="team-card-info"></p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" class="link team-link">
          <img src="" alt="" />
          <div class="team-card-backdrop">
            <div>
              <p class="team-card-info"></p>
              <p class="team-card-info"></p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" class="link team-link">
          <img src="" alt="" />
          <div class="team-card-backdrop">
            <div>
              <p class="team-card-info"></p>
              <p class="team-card-info"></p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" class="link team-link">
          <img src="" alt="" />
          <div class="team-card-backdrop">
            <div>
              <p class="team-card-info"></p>
              <p class="team-card-info"></p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" class="link team-link">
          <img src="" alt="" />
          <div class="team-card-backdrop">
            <div>
              <p class="team-card-info"></p>
              <p class="team-card-info"></p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" class="link team-link">
          <img src="" alt="" />
          <div class="team-card-backdrop">
            <div>
              <p class="team-card-info"></p>
              <p class="team-card-info"></p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" class="link team-link">
          <img src="" alt="" />
          <div class="team-card-backdrop">
            <div>
              <p class="team-card-info"></p>
              <p class="team-card-info"></p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="backdrop"></div>
