<div class="team-modal">
  <div class="container team-container">
    <button class="modal-close-btn team-close-btn" type="button">
      <svg width="24px" height="24px" class="modal-close-icon">
        <use href="/src/images/sprite.svg#icon-close-outline"></use>
      </svg>
    </button>
    <h2 class="team-title">development team</h2>
    <ul class="list team-list">
      <li class="team-player">
        <a
          href="https://www.linkedin.com/in/%D1%94%D0%B2%D0%B3%D0%B5%D0%BD-%D1%8F%D1%80%D0%BE%D0%B2%D0%B8%D0%B9-254a50279/"
          target="_blank"
          class="link team-link"
        >
          <img
            width="280"
            height="300"
            class="team-photo"
            src="/src/images/coming_soon.jpg"
            alt=""
          />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name">Evgen Yaroviy</p>
              <p class="team-card-info-position">Team Lead</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" target="_blank" class="link team-link">
          <img
            width="280"
            height="300"
            class="team-photo"
            src="/src/images/team/Tasita.jpg"
            alt="Tasita"
          />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name">Tasita</p>
              <p class="team-card-info-position">Scrum Master</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a
          href="https://www.linkedin.com/in/vprotasova/"
          target="_blank"
          class="link team-link"
        >
          <img
            width="280"
            height="300"
            class="team-photo"
            src="/src/images/team/Viktoriia.jpg"
            alt="Viktoriia Protasova"
          />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name">Viktoriia Protasova</p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a
          href="https://www.linkedin.com/in/oleksandra-bihas-368627242/"
          target="_blank"
          class="link team-link"
        >
          <img
            width="280"
            height="300"
            class="team-photo"
            src="/src/images/team/Oleksandra.jpg"
            alt="Oleksandra Bihas"
          />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name">Oleksandra Bihas</p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a
          href="https://www.linkedin.com/in/denys-strashniuk-6ba933226/"
          target="_blank"
          class="link team-link"
        >
          <img
            width="280"
            height="300"
            class="team-photo"
            src="/src/images/team/Denys.jpg"
            alt="Denys Strashniuk"
          />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name">Denys Strashniuk</p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a
          href="https://www.linkedin.com/in/kateryna-tolochko/"
          target="_blank"
          class="link team-link"
        >
          <img
            width="280"
            height="300"
            class="team-photo"
            src="/src/images/team/Kateryna.jpg"
            alt="Kateryna Tolochko"
          />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name">Kateryna Tolochko</p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" target="_blank" class="link team-link">
          <img
            width="280"
            height="300"
            class="team-photo"
            src="/src/images/team/Vladlen.jpg"
            alt=""
          />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name">Vladlen Danylov</p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a href="#" target="_blank" class="link team-link">
          <img
            width="280"
            height="300"
            class="team-photo"
            src="/src/images/coming_soon.jpg"
            alt=""
          />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name"></p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a
          href="https://www.linkedin.com/in/igor-ukraine-99a560270/"
          target="_blank"
          class="link team-link"
        >
          <img
            width="280"
            height="300"
            class="team-photo"
            src="/src/images/team/Igor.jpg"
            alt="Igor Ukraine"
          />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name">Igor Ukraine</p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a
          href="https://www.linkedin.com/in/%D1%96%D1%8F-%D0%BC%D0%B0%D0%B3%D0%B0%D1%80%D0%B8%D1%82%D0%B0-604ab9264/"
          target="_blank"
          class="link team-link"
        >
          <img
            width="280"
            height="300"
            class="team-photo"
            src="/src/images/team/Ija.jpg"
            alt="Ija Maharyta"
          />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name">Ija Maharyta</p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team-player">
        <a
          href="https://www.linkedin.com/in/victor-hachkajlo-a1baa7273/"
          target="_blank"
          class="link team-link"
        >
          <img
            width="280"
            height="300"
            class="team-photo"
            src="/src/images/team/Victor.jpg"
            alt="Victor Hachkajlo"
          />
          <div class="team-card-backdrop">
            <div class="team-card-info">
              <p class="team-card-info-name">Victor Hachkajlo</p>
              <p class="team-card-info-position">Developer</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="backdrop-team"></div>
