.oops-message {
    display: none;
}

.library-section {
    padding-top: 80px;
}

.genres-select {
    width: 260px;
    height: 48px;
    margin-bottom: 48px;
}

/* .btn-load-more {
    display: none;
} */